body{
    background-image: url('../images/nasa.webp');
    background-size: auto;     
    text-align: center;
    font-family: Arial, sans-serif;
}

ul.menu{
    background-color: rgba(135, 206, 235, 0.95);
}
h1 a{
    color: crimson;
}
.nasaContenido {
    background-color: rgba(10, 17, 239, 0.9);
    border-radius: 25px;
    color: wheat;
    margin-left: 22%;
    padding: 25px;
    width: 50%;
    font-size: 1.5em;
    margin-top: 22px;
}
h2, h3 {
    color: red;
}
