body{
    background-color: black;
    text-align: center;
    align-items: center;
    
    font-family: Arial, sans-serif;
}
h1{
    margin-top: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 4px red;
    color: white;
}
.sistemaSolarContenido{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    color: black;
    font-size: 1.5em;
    margin-left: 22%;
    padding: 25px;
    width: 50%;
}
.imgPlanetas{
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(240, 173, 132, 0.5);
    width: 100%;
}
.tablaPlanetas{
    box-shadow: 5px 5px 15px rgba(9, 5, 5, 0.5);
}
.tablaPlanetas img{
    width: 90%;
    border-radius: 15px;
}
.tablaPlanetas img:hover{
    transform: scale(1.1);
}
.mercurio{
    background-color: rgba(238, 178, 133, 0.4);
}
.venus{
    background-color: rgba(255, 138, 5, 0.4);
}
.tierra{
    background-color: rgba(19, 131, 5, 0.4);
}
.marte{
    background-color: rgba(144, 0, 0, 0.607);
}
.jupiter{
    background-color: rgba(255, 207, 158, 0.822);
}
.saturno{
    background-color: rgba(255, 255, 153, 0.473);
}
.urano{
    background-color: rgba(153, 255, 255, 0.473);
}
.neptuno{
    background-color: rgba(0, 0, 204, 0.473);
}
th{
    background-color: rgba(135, 206, 235, 0.3);
    padding: 10px;
    border: 1px solid black;
}
.pdf{
    color: chocolate;
    font-size: 1.2em;
}
.pdf:hover{
    color: red;
    font-size: 1.5em;
    text-decoration: none;
}
.ElSol{
    border-radius: 25px;
    box-shadow: 5px 5px 15px rgb(249, 248, 247);
    color: white;
    font-size: 1.5em;
    margin-left: 22%;
    padding: 25px;
    width: 50%;
    margin-top: 20px;
}


h2{
    color: chocolate;
    text-shadow: 2px 2px 4px white;
    font-size: 2.5em;
}