body{
    background-image: url('../images/solar.gif') ;    
    color: white;
    text-align: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
h1{
    margin-top: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 4px red;
    color: white;
}

#sistem{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    color: black;
    font-size: 1.5em;
    margin-left: 25%;
    padding: 25px;
    width: 50%;
}
video{
    width: 90%;
    border-radius: 15px;
}
.videoA{
    color: chocolate;
    font-size: 1.2em;
}
.videoA:hover{
    color: red;
    font-size: 1.5em;
    text-decoration: none;
}